# Core Dependencies (NVIDIA Jetson Optimized)
https://developer.download.nvidia.com/compute/redist/jp/v60/pytorch/torch-2.4.0a0+3bcc3cddb5.nv24.07.16234504-cp310-cp310-linux_aarch64.whl
torchvision==0.19.0
pyzed==5.3

# Core Math & SLAM (Fixed for NumPy 1.x compatibility)
numpy==1.26.4
scipy==1.11.4
scikit-learn==1.5.2
joblib==1.3.2

# Communication & Viz
commlink
loop-rate-limiters
viser==1.0.26
pyzmq==27.1.0

# Inference
onnxruntime==1.19.0
opencv-python-headless==4.13.0.92

# Utils
packaging==26.2
pillow
tqdm
trimesh
scipy
joblib
threadpoolctl
sympy
mpmath
flatbuffers
humanfriendly
coloredlogs
